<h2>Detail Works</h2>
<app-section-header
[title]="'Dettagli progetti'"
[button]= "{ label: 'Vai a Progetti', link: '/projects' } ">
</app-section-header>

<ng-container *ngIf="project$ | async as project">
  <div class="container-fluid py-5" *ngIf="project">
    <div class="card">
      <div class="card-body">
        <h1 class="display-5 fw-bold">{{project.name}}</h1>
        <p class="col-md-8 fs-4">{{project.description}}</p>
      </div>
    </div>
  </div>

  <button  routerLink="/projects/detail/1">detail 1</button>
  <button  routerLink="/projects/detail/2"> detail 2</button>

</ng-container>
